body,
p {
  all: unset;
}

body {
  font-family: monospace;
  background: #f9f9f9;
}

.box {
  border-radius: 8px;
  position: absolute;
  padding: 16px 24px;
  background: white;
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 4px solid rgb(238, 238, 238);
  color: black;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
}

.currency {
  font-weight: normal;
}

@keyframes loaderAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.loader-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  top: calc(50% + 40px);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.loader {
  animation-name: loaderAnim;
  animation-delay: 30ms;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 76, 255);
  transform-origin: left;
  border-radius: 4px;
}
